<% include partials/header %>
<style>
    .dev {
        font-size: 200%;
    }
    .work {
        font-size: 150%;
    }
</style>
    <div class="container">
        <legend style="text-align: center; font-size: 400%;">
            Developers
        </legend>
        <ul>
            <li class="dev">
                Archeel Parekh: 
            </li>
                <br>
            <li class="dev">
                Aditya Patkar: 
            </li>
            <br>
            <li class="dev">
                Yogesh Deshpande : 
            </li>
            <br>
            <li class="dev">
                Mohammed Mehdi:
            </li>
            <br>
            <li class="dev">
                Parth Shah:
            </li>
            <br>
        </ul>
    </div>
<% include partials/footer %>